/* Glassmorphism */
.glass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}

/* Fade animations */
.fade-in {
    animation: fadeIn 0.7s ease forwards;
    opacity: 0;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }

    from {
        opacity: 0;
        transform: translateY(10px);
    }
}

.secret-box {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.secret-box label {
    font-size: 16px;
    font-weight: 600;
}

.secret-display {
    width: 100%;
    max-height: 80px;
    overflow-y: auto;
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;
    background: field;
    color: var(--text);
    border: 1px solid rgba(255, 255, 255, 0.2);
    word-break: break-all;
    backdrop-filter: blur(10px);
}

/* Scrollbar styling */
.secret-display::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

.secret-display::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.secret-display::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
}

.copy-btn {
    width: 120px;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    background: #4a8ef5;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.copy-btn:hover {
    background: #326fd6;
}

.copy-success {
    width: 120px;
    padding: 8px 12px;
    border: 1 px solid #4a8ef5;
    border-radius: 9px;
    background: white;
    color: #4a8ef5;
    transition: opacity 0.3s ease;
}

.copy-success:hover {
    background: white;
}

.d-none{
    display: none;
    color: red;
}